player-connection-mode=Listen
player-connection-guid=3784376626
player-connection-debug=0
player-connection-project-name=Mini-Party
player-connection-ip=192.168.200.165
player-connection-ip=192.168.106.1
player-connection-ip=192.168.95.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
